
html, body { 
    height: 100%; 
}

body {
    background-image: url("./assets/banner.jpg");
    background-color: #cccccc; 
    background-position: center;
    background-repeat: repeat-y; 
    background-size: cover;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

